@page
@model             IndexModel
@{
    Layout = "_ManagerLayout";
}
<section id="example_h">
    <div class="container">
        <div class="row">
            <div class="feature_1 text-center clearfix">
                <div class="col-sm-12">
                    <h1 class="mgt">Store Discount</h1>
                    <hr>
                </div>
            </div>
            @if (Model.StoreDiscounts != null)
            {
                @foreach (var discount in Model.StoreDiscounts)
                {
                    <div class="example_h_1 clearfix">
                        <div class="col-sm">
                            <div class="example_h_1l text-center clearfix">
                                <div>
                                    <h3 style="display: inline">Discount Code: </h3>
                                    <h3 style="display: inline">@discount.DiscountCode</h3>
                                </div>
                                <div>
                                    <p style="display: inline">Discount Amount: </p>
                                    <p style="display: inline">@discount.DiscountAmount</p>
                                </div>
                                <div>
                                    <p style="display: inline">Start Date: </p>
                                    <p style="display: inline">@discount.StartDate</p>
                                </div>
                                <div>
                                    <p style="display: inline">End Date: </p>
                                    <p style="display: inline">@discount.EndDate</p>
                                </div>
                                <div>
                                    <p style="display: inline">Remaining Usage: </p>
                                    <p style="display: inline">@discount.RemainingUsage</p>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                }
            } else
            {
                <div>No Store discount</div>
            }
        </div>
    </div>
</section>
<h5><a class="button" asp-page="/Promotions/Create">CREATE</a></h5>

