@page
@model JewelryStoreUI.Pages.OrderScreenModel
@{
    Layout = "_StaffLayout";
	var chunkSize = 4;
	var jewelryChunks = Model.JewelryData
						.Select((j, index) => new { Jewelry = j, Index = index })
						.GroupBy(j => j.Index / chunkSize)
						.Select(g => g.Select(j => j.Jewelry).ToList())
						.ToList();
}

@if(Model.Message != null)
{
    <h2 style=""></h2>
}

<section id="center" class="center_shop">
    <div class="container">
        <div class="row">
            <div class="center_shop_t clearfix">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <div class="center_shop_tr text-right clearfix">
                        <h6 class="col_2">You are here: <a asp-asp-page="Gems/Index">Order</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="center" class="center_shop">
	<div class="container">
		<div class="row">
			<div class="center_shop_1 clearfix">
				<div class="col-sm-6">
					<div class="center_shop_1r clearfix">
                        @foreach (var jewelryChunk in jewelryChunks)
                        {
                            <div class="row">
                                @foreach (var jewelry in jewelryChunk)
                                {
                                    <div class="col-sm-3">
                                        <div class="collcet_1r clearfix">
                                            <div class="feature_2im clearfix">
                                                <div class="feature_2im1 clearfix">
                                                    @if (jewelry.JewelryImageData != null)
                                                    {
                                                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(jewelry.JewelryImageData)" alt="@jewelry.JewelryName" width="200px" height="150px" />
                                                    }
                                                </div>
                                                <div class="feature_2im4 clearfix">
                                                    <h6><a class="bg_3" href="detail.html">@jewelry.UnitPrice.ToString("F2")</a></h6>
                                                </div>
                                                <div class="feature_2im4 clearfix">
                                                    <div class="col-sm-6 space_left">                   
                                                    </div>
                                                    <div class="col-sm-6 feature_2im4r space_right">
                                                        <ul>
                                                            <li>
                                                                <a href="detail.html"><i class="fa fa-rocket" ></i></a>
                                                            </li>
                                                            <li>
                                                                <form method="post" asp-page-handler="AddToCart">
                                                                    <input type="hidden" name="JewelryId" value="@jewelry.JewelryId" />
                                                                    <input type="hidden" name="JewelyName" value="@jewelry.JewelryName" />
                                                                    <input type="hidden" name="UnitPrice" value="@jewelry.UnitPrice" />
                                                                    <input type="hidden" name="Materials" value="@jewelry.Materials" />
                                                                    <input type="hidden" name="Image" value="@Convert.ToBase64String(jewelry.JewelryImageData)" />
                                                                    <i><button type="submit" class="fa fa-shopping-cart" /></i>
                                                                </form>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item_last text-center clearfix">
                                                <h4>@jewelry.JewelryName</h4>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
					</div>
				</div>
				<div class="col-sm-6">
					<div class="center_shop_1l clearfix">
						@* <div class="center_shop_1li clearfix">
							<h5 class="mgt">NO GEM CART</h5>
                            <table class="table table-striped table-center">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Quantity</th>
                                        <th>Unit</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.JewelryCarts != null && Model.JewelryData.Count() > 0)
                                    {
                                        @foreach (var jewelry in Model.JewelryCarts)
                                        {
                                            <tr class="d-flex justify-content-center">
                                                <td>@jewelry.Name</td>
                                                <td><input style="width: 50px;" /></td>
                                                <td>@jewelry.UnitPrice</td>
                                                <td>
                                                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(jewelry.MaterialImageData)" style="max-width: 100px; max-height: 100px;" />
                                                </td>
                                                <td>
                                                <td>
                                                    <a class="button">Update</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
						</div> *@
                        <div class="center_shop_1li clearfix">
                            <h5 class="mgt">CART</h5>
                            <table class="table table-striped table-center">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Quantity</th>
                                        <th>Unit</th>
                                        <th>Discount</th>
                                        <th>Final</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.JewelryCarts != null && Model.JewelryData.Count() > 0)
                                    {
                                        @foreach (var jewelry in Model.JewelryCarts)
                                        {
                                            <tr class="d-flex justify-content-center">
                                                <td>@jewelry.Name</td>
                                                <td class="input-group r">
                                                    @* <button type="button" class="btn btn-secondary btn-decrement" data-id="@jewelry.Id">-</button> *@
                                                    <input type="number" value="@jewelry.Quantity" class="form-control quantity-input" data-id="@jewelry.Id" max="@jewelry.Quantity" min="1" />
                                                    @* <button type="button" class="btn btn-secondary btn-increment" data-id="@jewelry.Id">+</button> *@
                                                </td>
                                                <td>@jewelry.UnitPrice</td>
                                                <td>@jewelry.DiscountPrice</td>
                                                @{
                                                    var finalPrice = jewelry.UnitPrice;
                                                }
                                                <td>@finalPrice</td>
                                                <td>
                                                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(jewelry.MaterialImageData)" style="max-width: 100px; max-height: 100px;" />
                                                </td>
                                                <td>
                                                <td>
                                                    <form method="post" asp-page-handler="RemoveFromCart">
                                                        <input type="hidden" name="id" value="@jewelry.Id" />
                                                        <button type="submit" class="btn btn-danger">Remove</button>
                                                    </form>
                                                <td>
                                                    <a asp-page="/Jewleries/Detail" asp-route-id="@jewelry.Id">Details</a>
                                                </td>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            @{
                                decimal grandTotal = 0;
                                if (Model.JewelryCarts != null && Model.JewelryCarts.Count > 0)
                                {
                                    grandTotal = Model.JewelryCarts.Sum(x => x.UnitPrice);
                                }
                            }
                            <h5>Total Price: @grandTotal</h5>
                        </div>
                        <form method="post" asp-page-handler="CreateOrder">
						    <div class="center_shop_1li1 clearfix">
							    <h5 class="mgt">PHONE NUMBER</h5>
							    <input asp-for="@Model.PhoneNumber" class="form-control" type="text">
						    </div>
                                <h4 class="mgt"><input class="button" type="submit" value="Order" /></h4>
                        </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.btn-increment').forEach(button => {
            button.addEventListener('click', function () {
                const input = document.querySelector(`.quantity-input[data-id="${this.dataset.id}"]`);
                const currentValue = parseInt(input.value);
                input.value = currentValue + 1;
            });
        });

        document.querySelectorAll('.btn-decrement').forEach(button => {
            button.addEventListener('click', function () {
                const input = document.querySelector(`.quantity-input[data-id="${this.dataset.id}"]`);
                const currentValue = parseInt(input.value);
                if (currentValue > 1) {
                    input.value = currentValue - 1;
                }
            });
        });

        document.querySelectorAll('.quantity-input').forEach(input => {
            input.addEventListener('change', function () {
                if (this.value < 1) {
                    this.value = 1;
                }
                if (this.value > this.getAttribute('max')) {
                    this.value = this.getAttribute('max');
                }
            });
        });
    });
</script>
