@page
@model JewelryStoreUI.Pages.PriceModel
@{
    Layout = "_Layout";
    int totalItems = Model.Materials.Count;
    int midpoint = totalItems / 2;
}
<!-- First Half Table -->

<div style="display: flex;">
    <!-- First Half Table -->
    <table class="table table-row-dashed table-row-gray-300 gy-7" style="flex: 1; margin-right: 10px;">
        <thead>
            <tr class="fw-bolder fs-6 text-gray-800">
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th>Unit Type</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < midpoint; i++)
            {
                var item = Model.Materials[i];
                <tr>
                    <td>
                        <img src="data:image/jpeg;base64,@item.Base64" alt="Material Image" width="100" height="100" />
                    </td>
                    <td>@item.Data.name</td>
                    <td>@item.Data.unitPrice</td>
                    <td>@item.Data.type</td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Second Half Table -->
    <table class="table table-row-dashed table-row-gray-300 gy-7" style="flex: 1;">
        <thead>
            <tr class="fw-bolder fs-6 text-gray-800">
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th>Unit Type</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = midpoint; i < totalItems; i++)
            {
                var item = Model.Materials[i];
                <tr>
                    <td>
                        <img src="data:image/jpeg;base64,@item.Base64" alt="Material Image" width="100" height="100" />
                    </td>
                    <td>@item.Data.name</td>
                    <td>@item.Data.unitPrice</td>
                    <td>@item.Data.type</td>
                </tr>
            }
        </tbody>
    </table>
</div>