@page
@using System.Globalization
@using JewelryStoreUI.Enums
@model JewelryStoreUI.Pages.PriceModel
@{
    if (HttpContext.Session.GetInt32("ROLE") == (int)RoleEnum.STAFF)
    {
        Layout = "_StaffLayout";
    }
    else if (HttpContext.Session.GetInt32("ROLE") == (int)RoleEnum.MANAGER)
    {
        Layout = "_ManagerLayout";
    }
    else
    {
        Layout = "_PriceLayout";
    }
}

<style>
    .up-rectangle {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: green; /* Color for up */
        margin-left: 5px; /* Space between text and rectangle */
    }

    .down-rectangle {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: red; /* Color for down */
        margin-left: 5px; /* Space between text and rectangle */
    }
</style>

<section id="center" class="center_shop">
	<div class="container">
		<div class="row">
			<div class="center_shop_t clearfix">
				<div class="col-sm-6">
					<div class="center_shop_tl clearfix">
						<h4 class="mgt">PRICE TODAY</h4>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="center_shop_tr text-right clearfix">
                        <h6 class="col_2">Updated in: @Model.UpdatedDate</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="center" class="center_shop">
	<div class="container">
		<div class="row">
			<div class="center_shop_t clearfix">
				<div class="center_shop_tl clearfix">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Metal</th>
                                <th>Price</th>
                                <th>Ask</th>
                                <th>Bid</th>
                                <th>High</th>
                                <th>Low</th>
                                <th>Change</th>
                                <th>Change %</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var metal in Model.MetalDTOs)
                            {
                                var change = metal.Rate?.Change ?? 0;
                                var changeClass = change > 0 ? "up-rectangle" : "down-rectangle";
                                <tr>
                                    <td>@metal.Metal</td>
                                    <td>@metal.Rate?.Price.ToString("0.00")</td>
                                    <td>@metal.Rate?.Ask.ToString("0.00")</td>
                                    <td>@metal.Rate?.Bid.ToString("0.00")</td>
                                    <td>@metal.Rate?.High.ToString("0.00")</td>
                                    <td>@metal.Rate?.Low.ToString("0.00")</td>
                                    <td>
                                        @metal.Rate?.Change.ToString("0.00")%
                                        <span class="@changeClass"></span>
                                    </td>
                                    <td>
                                        @metal.Rate?.ChangePercent.ToString()%
                                        <span class="@changeClass"></span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
				</div>
			</div>
		</div>
	</div>
</section>