@page
@model test1.Pages.GuaranteePage.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "_StaffLayout";
}

<h1>Details</h1>

<div>
    <h4>Guarantee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guarantee.DateReceive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guarantee.DateReceive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guarantee.DateComplete)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guarantee.DateComplete)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guarantee.DateBack)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guarantee.DateBack)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guarantee.Confirm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guarantee.Confirm)
        </dd>
        @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guarantee.Account)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guarantee.Account.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guarantee.OrderDetail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guarantee.OrderDetail.OrderDetailId)
        </dd> *@
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Guarantee?.GuaranteeId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
