@page
@model test1.Pages.GuaranteePage.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_StaffLayout";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResponseResult[0].DateReceive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponseResult[0].DateComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponseResult[0].DateBack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponseResult[0].Confirm)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.ResponseResult[0].Data.Account)
            </th> *@
           @*  <th>
                @Html.DisplayNameFor(model => model.Guarantee[0].OrderDetail)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ResponseResult) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateReceive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateBack)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Confirm)
            </td>
           @*  <td>
                @Html.DisplayFor(modelItem => item.Data.Account.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.OrderDetail.OrderDetailId)
            </td> *@
            <td>
                <a asp-page="./Edit" asp-route-id="@item.GuaranteeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.GuaranteeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.GuaranteeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
