@page
@model JewelryStoreUI.Pages.Orders.DetailModel
@{
    Layout = "_StaffLayout";
}

<section id="center" class="center_shop">
    <div class="container">
        <div class="row">
            <div class="center_shop_t clearfix">
                <div class="col-sm-6">
                    <div class="center_shop_tl clearfix">
                        <h4 class="mgt">ORDER</h4>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="center_shop_tr text-right clearfix">
                        <h6 class="col_2">You are here: <a href="#">Order</a> / Detail</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="center" class="center_shop">
    <div class="container">
        <div class="row">
            <div class="center_shop_t clearfix">
                <table class="table">
                    <tr>
                        <th>Order Detail ID</th>
                        <th>Jewelry ID</th>
                        <th>Unit Price</th>
                        <th>Total Price</th>
                        <th>Discount Price</th>
                        <th>Final Price</th>
                        <th>Discount Value</th>
                        <th>Quantity</th>
                        <th>Image</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var detail in Model.OrderDetails)
                        {
                            <tr>
                                <td>@detail.Data.orderDetailId</td>
                                <td>@detail.Data.jewelryId</td>
                                <td>@detail.Data.unitPrice</td>
                                <td>@detail.Data.totalPrice</td>
                                <td>@detail.Data.discountPrice</td>
                                <td>@detail.Data.finalPrice</td>
                                <td>@detail.Data.discountValue</td>
                                <td>@detail.Data.quantity</td>
                                <td>
                                    <img src="data:image/png;base64, @detail.Base64" alt="Red dot" style="width: 50px; height: 50px;" />
                                </td>
                                <td>
                                    <a asp-page="/Jewleries/Detail" asp-route-id="@detail.Data.jewelryId" class="btn btn-primary">View Material</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>