@page
@using JewelryStoreUI.Enums
@model JewelryStoreUI.Pages.Jewleries.IndexModel
@{
    Layout = "_ManagerLayout";
}

<style>
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: middle;
        border-top: 1px solid #ddd
    }
</style>

<section id="center" class="center_shop">
    <div class="container">
        <div class="row">
            <div class="center_shop_t clearfix">
                <div class="col-sm-6">
                    <div class="center_shop_tl clearfix d-flex align-items-center">
                        <h4 class="mgt"><a class="button" asp-page="/Jewleries/Create">CREATE</a></h4>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="center_shop_tr text-right clearfix">
                        <h6 class="col_2">You are here: <a asp-asp-page="Jewleries/Index">Home</a> / Gem</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="center" class="center_shop">
    <div class="container">
        <div class="row">
            <div class="center_shop_t clearfix">
                <div class="center_shop_tl clearfix">
                    <table class="table table-striped table-center">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Jewelry Type</th>
                                <th>Total Weight</th>
                                <th>Unit Price</th>
                                <th>Category</th>
                                <th>Created Date</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var jewelry in Model.JewelryData)
                            {
                                <tr class="d-flex justify-content-center">
                                    <td>@jewelry.JewelryId</td>
                                    <td>@jewelry.JewelryName</td>
                                    <td>@jewelry.JewelryType</td>
                                    <td>@jewelry.TotalWeight</td>
                                    <td>@jewelry.UnitPrice</td>
                                    <td>@jewelry.JewelryCategory</td>
                                    <td>@jewelry.CreatedDate</td>
                                    <td>
                                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(jewelry.JewelryImageData)" alt="@jewelry.JewelryName" style="max-width: 100px; max-height: 100px;" />
                                    </td>
                                    <td>
                                    <td>
                                        <a class="button" asp-page="/Jewleries/Detail" asp-route-id="@jewelry.JewelryId">Details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <div class="enquiry_1 text-center clearfix">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                                <a class="button" asp-page="./Index" asp-route-currentPage="@(Model.CurrentPage - 1)">Previous</a>
                            </li>
                            @for (int i = 1; i <= Math.Ceiling((double)Model.TotalCount / Model.PageSize); i++)
                            {
                                <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                                    <a class="button" style="background-color:#dfb858" asp-page="./Index" asp-route-currentPage="@i">@i</a>
                                </li>
                            }
                            <li class="page-item @(Model.CurrentPage == Math.Ceiling((double)Model.TotalCount / Model.PageSize) ? "disabled" : "")">
                                <a class="button" asp-page="./Index" asp-route-currentPage="@(Model.CurrentPage + 1)">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
